body {
  
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  display: flex;
}

p {
    text-align: center;
}
